abbr { border:0 }

html, body
{ 
  margin: 0; padding: 0; 
  background: #8c63a5;
  font: 11px arial, sans-serif;
  text-align: center;
}

quotes
{ 
  font: 9px arial, sans-serif;
}

a { color: #cc3300;  text-decoration: underline;}

a:hover { color: #ff0000; text-decoration: underline; }

img { border: 0; margin: 0; padding: 0; }

h1
{
  font: bold 14px arial, sans-serif;
  margin: 5px 5px 5px 0; padding: 0;
}

h2
{
  font: bold 22px arial, sans-serif;
  margin: 0 5px 5px 0; padding: 0;
  letter-spacing: -1px;
}

h3
{
  font: bold 16px arial, sans-serif;
  margin: 0; padding: 0;
  color: #35005a;
}

h4
{
  font: bold 18px arial, sans-serif;
  margin: 0 0 55px 0; padding: 0;
  color: #666666;
}

h5
{
  font: bold 18px arial, sans-serif;
  margin: 0 0 55px 0; padding: 0;
  color: #666666;
}

h6
{
  font: bold 18px arial, sans-serif;
  margin: 0 0 10px 0; padding: 0;
  color: #666666;
}

h7
{
  font: bold 18px arial, sans-serif;
  margin: 0 0 30px 0; padding: 0;
  color: #666666;
}

#wrapper
{
  width: 870px;
  margin: 0 auto;
  background: url(http://www.werbach.com/supernova2006new/i/bg.jpg) repeat-y;
  text-align: left;
}

#container
{
  width: 780px;
  margin: 0 0 0 49px;
}

#header
{
  height: 123px;
  background: url(http://www.werbach.com/supernova2006new/i/header.jpg) no-repeat;
}

#header h1
{
  margin: 0; padding: 0;
  text-indent: -5000px; 
}

#subheader
{
  height: 71px;
  background: url(http://www.werbach.com/supernova2006new/i/subheader.jpg) no-repeat;
}

#subheader #whartonlogo
{
  float: right;
  width: 110px;
  height: 55px;
  margin-right: 50px;
}

#subheader #quote
{
  float: right;
  width: 350px;
  height: 55px;
  margin-right: 40px;
}

#subheader #quote #quotebody
{
  font: bold 16px arial, sans-serif;
  color: #ffa814;
}

#subheader #quote #quoteauthor
{
  text-align: right;
  font: 12px/20px arial, sans-serif;
  color: #380169;
}

#navigation
{
  height: 35px;
  background: url(http://www.werbach.com/supernova2006new/i/navbg.jpg) repeat-x;
  list-style-type: none;
  margin: 0; padding: 0;
}

#navigation li
{
  float: left;
  margin: 0 0 0 20px; padding: 0;
  text-transform: uppercase;
}

#navigation li a
{
  text-decoration: none;
  color: #000000;
  font: bold 12px/35px arial, sans-serif;
}

#navigation li a:hover
{
  text-decoration: underline;
}

#innerleftcolumn
{
  float: left;
  margin: 5px 0 0 15px;
  width: 579px;
  font-size: 12px;
}

#leftcolumn
{
  float: left;
  margin: 0 0 0 5px;
  width: 195px;
}

#leftcolumnblog
{
  float: left;
  font: 12px arial, sans-serif;
  margin: 5px 0 0 15px;
}

#leftbuilding
{
  float: left;
  color: #7b7b7b;
  font: 10px arial, sans-serif;
  margin-top: 0;
  width: 95px;
}

#rightbuilding
{
  float: left;
  color: #7b7b7b;
  font: 10px arial, sans-serif;
  margin: 0 0 0 5px;
  width: 95px;
}

#aboutbox
{
  margin-top: 5px;
  background: #fdf5c4 url(http://www.werbach.com/supernova2006new/i/lightyellowfade.jpg) bottom repeat-x;
}

#aboutbox .aboutbox_images
{
  margin: 5px;
  width: 40px;
  float: left;
}

#aboutbox .aboutbox_text
{
  margin: 5px 5px 5px 0;
  float: left;
  width: 120px;
}

#supernovainfo
{
  margin-top: 5px;
  background: url(http://www.werbach.com/supernova2006new/i/pinkfade.jpg) bottom repeat-x;
}

#supernovainfo p
{
  margin: 0;
  padding: 5px 5px 0 5px;
}

#supernovainfo img
{
  margin: 5px 0 0 5px;
}

#supernovainfo ul
{
  margin: 0 0 0 5px; padding: 0 0 0 20px;
}

#middlecolumn
{
  float: left;
  margin: 5px 5px 0 13px;
  width: 395px;
  font-size: 12px;
}

#registertoday
{
  font: bold 18px arial, sans-serif;
}

#registerprice
{
  font: bold 14px arial, sans-serif;
}

#rightcolumn
{
  float: right;
  margin: 5px 0 0 0;
  width: 160px;
}

#subnav
{
  height: 145px;
  background: url(http://www.werbach.com/supernova2006new/i/darkyellowfade.jpg) repeat-x;
  font: bold 13px/21px arial, sans-serif;
}

#subnav a
{
  color: #000000;
  text-decoration: none;
  margin: 5px;
}

#subnav a:hover
{
  text-decoration: underline;
}

#subnav img
{
  margin: 0 5px 0 5px;
}

#subnav #cohosted
{
  font: bold 11px/15px arial, sans-serif;
}  

#subnav #rss
{
  line-height: 28px;
}

.sponsors
{
  font: bold 11px arial, sans-serif;
  text-transform: uppercase;
  color: #35005a;
  margin: 5px 0 5px 0;
}

#footer
{
  height: 150px;
  background: url(http://www.werbach.com/supernova2006new/i/footer.jpg) no-repeat;
  padding-top: -70px;
}

.clear { clear: both; height: 1px; font: 0px/0px sans-serif; }
.center { text-align: center; }
.purple { color: #35005a; }
.right { float: right; }
.left { float: left;   margin: 0 10px 2px 0; }
.date { color: #999; }
