body { background-image: url(brown/bg.png); }
.post .tags, .post .post-more span.tags{ background-image:url(brown/ico-tag.png);  }
.post .post-more span.comments { background-image:url(brown/ico-comments.png); }
.post .post-more span.shorturl { background-image:url(brown/ico-url.png); }
.nav-entries .nav-prev { background-image: url(brown/ico-prev.png); }
.nav-entries .nav-next { background-image: url(brown/ico-next.png);}
a:link, a:visited, .nav li a:hover,.nav li a:focus,.nav li.current_page_item a ,.nav li ul li a:hover, .widget_woo_flickr a:hover img  { color: #985c26; }
#about .bio p, .dribbbles strong { color: #663c12; }
a.button, a.comment-reply-link, #commentform #submit, #contact-page .submit, a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, #contact-page .submit:hover { background: #e8a052;border-color:#e8a052;}
a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, #contact-page .submit:hover { opacity:0.9; }

