/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

font-face {
    font-family: 'AdelleBasicBold';
    src: url('fonts/adellebasic_bold-webfont.eot');
    src: url('fonts/adellebasic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/adellebasic_bold-webfont.woff') format('woff'),
         url('fonts/adellebasic_bold-webfont.ttf') format('truetype'),
         url('fonts/adellebasic_bold-webfont.svg#AdelleBasicBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'AurulentSansRegular';
    src: url('fonts/AurulentSans-Regular-webfont.eot');
    src: url('fonts/AurulentSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/AurulentSans-Regular-webfont.woff') format('woff'),
         url('fonts/AurulentSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/AurulentSans-Regular-webfont.svg#AurulentSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body { color:#404544; }
p, .entry p {font-family:'AurulentSansRegular', Arial, sans-serif;font-size:13px;line-height:24px;} 
#header-wrap, #header, #content, #sidebar, #main, .post, .widget { border:none; }
#header { padding:10px 0;}
a:link, a:visited { color:#F37036; }
#top-right { background-color:#231F20;margin-top: 144px;width: 740px; }
.nav { padding:0; }
.nav li { font-family:'AdelleBasicBold', Georgia, serif;font-size:14px;padding:8px 0 2px 0; } 
.nav a:link, .nav a:visited { color:#fff;margin: 0 17px;letter-spacing: 1px;padding-bottom:3px;line-height:15px; }
.nav li a:hover, .nav li a:focus, .nav li.current_page_item a { color:#AACD39;}
.socialNav { margin:102px 0 0 751px;position: absolute;}
.socialNav ul li { display:inline;padding-left:5px;}

.post .title {font-family:'AdelleBasicBold', Georgia, serif;text-transform:uppercase; }
.post .title a { color:#333;font-weight:bold;}
h2 { background:#92278F;color:#fff;font-family:'AdelleBasicBold', Georgia, serif;letter-spacing:1px;display: inline-block;font-size: 16px;text-transform: uppercase;padding:3px 5px 1px;margin-bottom:1em;}
h3 { color:#404544;font-family:'AdelleBasicBold', Georgia, serif;letter-spacing:1px;font-size: 14px;text-transform: uppercase;font-weight:bold;display:block;text-shadow:0 1px 0 #FFFFFF;}
h4 { background:#92278F;color:#fff;font-family:'AdelleBasicBold', Georgia, serif;letter-spacing:1px;display: inline-block;font-size: 14px;text-transform: uppercase;padding:3px 5px 1px;}
.clear {clear:both;}
.post h2.title {background:none;}
#footer p { font-size:12px;}
#footer-wrap {border-top: 2px solid #404544;padding-top: 10px;}
label {font-family:'AurulentSansRegular', Arial, sans-serif;text-shadow:0 1px 0 #FFFFFF;}

/* SIDEBAR */
#sidebar {padding-top:0;width:200px;}
.widget { padding-left:0px;padding-bottom:5px;}
.textwidget { padding:0;margin:0;font-family:'AurulentSansRegular', Arial, sans-serif;text-shadow:0 1px 0 #FFFFFF;}
.textwidget img { text-align:center;}
.widget h3, .widget h3 a { background:#AACD39;color:#404544;font-family:'AdelleBasicBold', Georgia, serif;text-shadow:none;font-size:12px;padding:0 8px;}
.twitter-tracker {font-family:'AurulentSansRegular', Arial, sans-serif;text-shadow:0 1px 0 #FFFFFF;}
.avatar img { float:left; padding:0 5px 5px 0;}
ol.tweets li {margin-bottom:15px;}
.info { font-size:85%; }

/* ABOUT */
#about { border:none; }
#about h3 { margin-bottom:2px;}
/* AGENDA */
#agenda dl { border-bottom: 1px solid #AACD39;margin-bottom: 15px;padding-bottom: 10px;}
#agenda dl dt { font-weight:bold; }
#agenda dl dd { }
#agenda h3, #agenda p { margin-left:100px;}
.agenda-item { border-bottom: dotted 1px #ccc;margin-bottom:1em;}
time { color: #404544;float: left;font-family: 'AdelleBasicBold',Georgia,serif;font-size: 14px;font-weight: bold; }
/* PARTICIPANTS*/
#participants ul { padding:0;margin-bottom:30px;}
#participants ul li { list-style-type:none;padding:0;font-family:'AurulentSansRegular', Arial, sans-serif;font-size:14px;line-height:1.6em;}

.post .title { font-family:'AdelleBasicBold', Georgia, serif;font-size:28px; position:relative; margin: 0 0 5px 0; padding: 0; }




