.basefont {  font-family: Georgia, "Times New Roman", Times, serif; font-size: small}
.boxtext {  font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px; float: right; height: auto; width: 150px; margin-left: 20px; padding-top: 6px; padding-right: 6px; padding-bottom: 6px; padding-left: 6px; background-color: #CCCC99}
.small { font-family: Georgia, "Times New Roman", Times, serif; font-size: 9px}
a:hover {  text-decoration: underline}
.big { font-family: Georgia, "Times New Roman", Times, serif; font-size: medium; font-style: italic}
.basefont2 { font-family: Georgia, "Times New Roman", Times, serif; font-size: small }
a:link {  font-weight: bold; color: #0066CC}
a:link {  }
a:visited {  font-weight: bold; color: #003399}
.navbar {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; font-weight: bold}
.bigplain { font-family: Georgia, "Times New Roman", Times, serif; font-size: medium; font-style: normal}
