.welcome 
{  
font-family: Arial, Helvetica, sans-serif; 
font-size: 20px; 
font-weight: bold; 
color: #FFF7CE;}
.welcomemessage 
{  
font-family: "Times New Roman", Times, serif; 
font-size: 20px; 
font-style: italic; 
font-weight: 
bold; color: #000000; }
.online 
{  
font-family: Arial, Helvetica, sans-serif; 
font-size: 30px; 
font-weight: bold; 
color: #FFF7CE;}
.tablename 
{ 
font-family: "Times New Roman", Times, serif; 
font-size: 80px; 
font-style: italic; 
font-weight: 
bold; color: #000000; }
body
{
background-color: #FFFFFF;
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #000000; 
scrollbar-arrow-color: #4E5B70; 
scrollbar-3dlight-color: #004080;
scrollbar-highlight-color: #FFFFFF;
scrollbar-face-color: #4E5B70;
scrollbar-shadow-color: #FFFFFF;
scrollbar-darkshadow-color: #4E5B70;
scrollbar-track-color: #C0C0C0;
}
a
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #4E5B70; 
}
a.orderby
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #FFFFFF;
text-decoration: none
}
.header 
{
border: 1px;
border-color: Black;
border-style: solid;
background-color: #4E5B70;
}
.data1 
{ 
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
color: #4E5B70;
background-color: #F8F8F8;
}
.data2 
{ 
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
color: #4E5B70;
background-color: #DFDFDF;
}
.data3 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
color: #4E5B70;
background-color: #CCCCCC;
}
a.headerlink 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #4E5B70;
background-color: #FFFFFF;
text-decoration: none;
border: 1px solid;
border-color: Black;
padding-left: 5px;
padding-right: 20px;
width: 170px;
}
a.headerlink:hover 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #4E5B70;
background-color: #CCCCCC;
text-decoration: none;
border: 1px solid;
border-color: Black;
padding-left: 5px;
padding-right: 20px;
width: 170px;
}
a.datalink 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #4E5B70;
text-decoration: none
}
a.datalink:hover
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #FFF7CE;
text-decoration: none; 
background-color: #4E5B70;
}
a.datalink2 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #4E5B70;
text-decoration: none
}
a.datalink2:hover
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 13px; 
font-weight: bold; 
color: #FFF7CE;
text-decoration: none; 
background-color: #4E5B70;
}
.fieldname 
{  
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
color: #FFF7CE;
background-color: #4E5B70; 
text-align: right
}
.line 
{  
color: #000000; 
width: 100%;
}
a.button 
{  
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #000000; text-decoration: none; 
background-color: #cccccc; 
width: 100%; 
text-align: center
}
a.button:hover 
{
font-family: Arial, Helvetica, sans-serif; font-size: 12px;
font-size: 12px;
font-weight: bold;
color: #ffffff;
text-decoration: none; 
background-color: #000000; 
width: 100%;
text-align: center
}
.strip 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 14px; 
font-weight: bold; 
color: #FFF7CE;
background-color: #4E5B70; 
}
.selected 
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 12px; 
font-weight: bold; 
color: #000000; 
background-color: #999999; 
width: 15px; 
font-style: italic; 
}
.headertitle
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 16px; 
font-weight: bold; 
color: #FFF7CE;
} 
 
.pagetitle
{
font-family: Arial, Helvetica, sans-serif; 
font-size: 16px; 
font-weight: bold; 
color: #000000;
background-color: #FFFFFF
} 
 
.heading 
{  
font-family: Arial, Helvetica, sans-serif; 
font-size: 16px; 
font-weight: bold; 
color: #FFF7CE;
text-decoration: none
}
.headerbutton
{
background-color: #FFFFFF
}
.headerbuttonhover
{
background-color: #CCCCCC
}

.report
{
    border: 1px solid #4E5B70;
}
