body { background-image: url(purple/bg.png); }
.post .tags, .post .post-more span.tags{ background-image:url(purple/ico-tag.png);  }
.post .post-more span.comments { background-image:url(purple/ico-comments.png); }
.post .post-more span.shorturl { background-image:url(purple/ico-url.png); }
.nav-entries .nav-prev { background-image: url(purple/ico-prev.png); }
.nav-entries .nav-next { background-image: url(purple/ico-next.png);}
a:link, a:visited, .nav li a:hover,.nav li a:focus,.nav li.current_page_item a ,.nav li ul li a:hover, .widget_woo_flickr a:hover img, .post .post-meta, .post .post-meta a  { color: #562698; }
#about .bio p, .dribbbles strong { color: #321266; }
a.button, a.comment-reply-link, #commentform #submit, #contact-page .submit, a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, #contact-page .submit:hover { background: #7046bc;border-color:#7046bc;}
a.button:hover, a.button.hover, a.button.active, a.comment-reply-link:hover, #commentform #submit:hover, #contact-page .submit:hover { opacity:0.9; }

