	.package_table
	{
	text-align:left;
	background-color:#FFFFFF;
	}
	
	.package_table th
	{
		text-align:center;
		background-color:#F7D388;
		font-weight:bold;
		border:#000000 solid 1px;
		padding:5px;
	}
		
	.package_table td
	{
		background-color:#FCEED0;
		border:#000000 solid 1px;
		padding:5px;
	}	
	
	.package_name
	{
		font-weight:bold;
	}
	
	#mainForm_container
	{
		font-family:"Times New Roman", Times, serif
		color:#000000;
		position:absolute;
		left: 200px;
		top: 60px;
	}

	#conference_container
	{
		font-family:"Times New Roman", Times, serif
		font-weight:bold;
		color:#AA00AA;
		position:absolute;
		left: 30px;
		top: 85px;
	}
	
	#conference_container #h1
	{
		font-size:18px;
	}
	
	#conference_container #h2
	{
		font-size:15px;
	}
	
	#conference_container #h3
	{
		font-size:12px;
	}

/*# Form validation CSS */
	form.cmxform label.error { display: none; }			

	.error {
		font-size: 14px;
		color:#FF0000;
		padding-left: 10px;
	}
	
/*# quotes */	
	.quote_container{
		background-color:#9999FF;
		width:600px;
	}
	
	#quoteText{
		font-size:18px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FF6633;
	}
	
	#quoteSource{
		font-size:11px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		text-align:right;
	}	
	
	.quote_container_reg{
/*		width:400px;
		position:absolute;
		left: 100px;
		top: -25px;		*/
	}	

	#quoteText_reg{
		font-size:14px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		color:#FF6633
	}
	
	#quoteSource_reg{
		font-size:12px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		text-align:center;
	}		